---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import User from "lucide-astro/User";
import ChevronRight from "lucide-astro/ChevronRight";
import { Palette } from "../logic";
import AtSign from "lucide-astro/AtSign";

const data = [
  {
    name: "John Doe",
    email: "example@example.com",
  },
  {
    name: "Jane Doe",
    email: "example@example.com",
  },
] as const;
---

<Layout>
  <div class="m-4 flex min-h-screen justify-center">
    <Card>
      <div class="space-y-3 font-playfair">
        <h1 class="text-2xl font-medium">Datos de contacto</h1>
        {
          data.map((item, index) => (
            <>
              <div class="space-y-3">
                {Object.entries(item).map(([key, value]) => (
                  <div class="flex gap-1 rounded-xl bg-gray-300 p-2">
                    {key === "name" ? (
                      <User color={Palette.blue} />
                    ) : (
                      <AtSign color={Palette.green} />
                    )}
                    <ChevronRight color={Palette.colors.gray[600]} />
                    <p>{value}</p>
                  </div>
                ))}
                <a href={`mailto:${item.email}`} class="btn font-sans">
                  Enviar Email a <span class="font-bold">{item.name}</span>
                </a>
              </div>
              {index !== data.length - 1 && <div class="divider h-0.5" />}
            </>
          ))
        }
      </div>
    </Card>
  </div>
</Layout>
