---
import type { ComponentProps } from "astro/types";
import Heart from "lucide-astro/Heart";
import Recycle from "lucide-astro/Recycle";
import Users from "lucide-astro/Users";
import community from "../assets/community.png";
import datiles from "../assets/datiles.png";
import social from "../assets/social.png";
import { description, Palette, PageRefs } from "../logic";
import Dialog from "./Dialog.astro";

const data: (ComponentProps<typeof Dialog> & {
  Icon: typeof Heart;
  color: string;
})[] = [
  {
    title: "Apoya a la comunidad",
    description:
      "Los dátiles llegan a instituciones que cuidan de sectores vulnerables, mejorando su nutrición",
    image: community,
    Icon: Heart,
    color: Palette.red,
  },
  {
    title: "Reducimos el desperdicio de alimentos",
    description:
      "Aprovechamos el exceso de producción, así evitamos la pérdida innecesaria de alimentos",
    image: datiles,
    Icon: Recycle,
    color: Palette.green,
  },
  {
    title: "Impacto social positivo",
    description:
      "Fomenta la solidaridad en la cultura entre productores, instituciones y comunidad",
    image: social,
    Icon: Users,
    color: Palette.blue,
  },
];
---

<div
  class="grid w-full justify-center bg-yellow-100 py-32 text-center xl:py-56"
>
  <h1 class="font-playfair text-5xl font-bold">Dona dátiles, nutre vidas</h1>
  <p class="mx-2 max-lg:my-6">
    {description}
  </p>
  <div class="mt-8">
    <a class="btn" href={PageRefs.contact}>Donar ahora</a>
  </div>
</div>

<div id={PageRefs.reasons}>
  {
    data.map((obj, index) => (
      <Dialog
        title={obj.title}
        description={obj.description}
        image={obj.image}
        alternative={index % 2 === 1}
      >
        <obj.Icon size="64" color={obj.color} />
      </Dialog>
    ))
  }
</div>
